#a{
    color:#b8b8b8;
    text-decoration: none;
}
h1{
    font-size: 250%;   
    text-align: center;
    border-bottom: 2px solid gray;
    margin: 0;
    padding: 20px;
}
/* 
.all{
    width:100%;
    float:left;
    text-align:center;
} */

#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol{
    padding-left: 33px;
    border-right: 2px solid gray;
    margin: 0;
    padding-left: 25px;
    padding: 20px;

}

#article{
    padding-left: 30px;
}